html {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  overflow: hidden;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, .8);
  border-radius: .25em;
  box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: monospace;
  text-align: center;
}

h3 {
  text-align: center;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.wrap {
  max-width: 1100px;
  margin: 0 auto;
  padding: 16px;
}

.controls {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 12px;
  font-size: medium;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  background-color: red;
  border-style: solid;
}

.status {
  min-height: 1.2em;
  margin: 8px 0;
  color: white;
}

pre.ascii {
  background: black;
  background-size: auto;
  padding: 16px;
  border-radius: 12px;

  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace;
  font-size: 10px;
  line-height: 10px;
  white-space: pre;
  overflow-x: auto;
}

input[type="file"] {
  display: none;
}

label[for="file"] {
  height: 60px;
  width: 150px;
  border: 1px dashed #999;
  border-radius: 6px;
  background: #333;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
