<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Image to ASCII</title>
  <link rel="stylesheet" href="/static/style.css?v=1" />
</head>
<body>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>

    <div class="wrap">
        <h1>Image to ASCII Art Converter</h1>
        <div>
            <h3>
                Upload an image and watch it transform into ASCII art based on your choice
            </h3>
        </div>
        <div class="controls">
            <input id="file" type="file" accept="image/*">
            <label for="file">
                Upload File
            </label>
            <div class="slidecontainer">
                <label>
                    Width:
                    <div>
                        <input class="slide" id="width" type="range" min="20" max="200" value="150">
                    </div>
                </label>
            </div>
            <button id="go">Convert</button>
        </div>

        <div id="status" class="status"></div>

        <pre id="out" class="ascii"></pre>
    </div>

    <script src="/static/app.js"></script>
</body>
</html>